In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [7]:
#Funçoes

def unicos(df, coluna):
    return df[coluna].unique()

In [10]:
df_nacionalidade_2021_2 = pd.read_csv('Estrangeiros_por_nacionalidade_2021_2.csv', sep=';', encoding='latin-1')
df_nacionalidade_2022_1 = pd.read_csv('Estrangeiros_por_nacionalidade_2022_1.csv', sep=';', encoding='latin-1')
dic = pd.read_csv('DIC_Quantidade_de_alunos_estrangeiros_por_nacionalidade.csv', sep=';', encoding='latin-1')
vw_2019=  pd.read_csv('VW_ALUNOS_ESTRANGEIROS_POR_NACIONALIDADE_20190517.csv', sep=';', encoding='latin-1')


vw_2019

,ï»¿NOMEDEP,DE,DISTR,MUN,TIPOESC,COD_ESC,NOMESC,DS_PAIS,NÂº alunos
0,ESTADUAL - OUTROS,CAMPINAS LESTE,CAMPINAS LESTE,CAMPINAS,27,45949,CAMPINAS COLEGIO TECNICO DE - UNICAMP,FranÃ§a,1
1,ESTADUAL - OUTROS,CENTRO OESTE,RAPOSO TAVARES,SAO PAULO,11,438820,RAPOSO TAVARES ETEC,Argentina,1
2,ESTADUAL - OUTROS,CENTRO SUL,BELA VISTA,SAO PAULO,11,299364,MARIA AUGUSTA SARAIVA DRA ETEC,BolÃ­via,2
3,ESTADUAL - OUTROS,SOROCABA,SOROCABA,SOROCABA,11,16354,RUBENS DE FARIA E SOUZA ETEC,Peru,1
4,ESTADUAL - OUTROS,TAUBATE,CACAPAVA,CACAPAVA,11,14308,MACHADO DE ASSIS ETEC,Portugal,1
...,...,...,...,...,...,...,...,...,...
9005,PRIVADA,TAUBATE,CACAPAVA,CACAPAVA,0,196848,RISCO MAGICO NUCLEO EDUCACIONAL,Portugal,1
9006,PRIVADA,TAUBATE,TAUBATE,TAUBATE,0,111235,SAO LUIS ESCOLA EDUCACAO INFANTIL ENSINO FUNDA...,Portugal,2
9007,PRIVADA,VOTORANTIM,ARACOIABA DA SERRA,ARACOIABA DA SERRA,0,160349,MAGNA VIDA ESCOLA,Cuba,1
9008,PRIVADA,VOTORANTIM,CAPELA DO ALTO,CAPELA DO ALTO,0,363960,CENTRO EDUCACIONAL CAPELA DO ALTO,JapÃ£o,1
9009,PRIVADA,VOTORANTIM,VOTORANTIM,VOTORANTIM,0,567863,MONACO COLEGIO,JapÃ£o,1

In [9]:
unicos(df_nacionalidade_2021_2,'NOMEDEP')

array(['ESTADUAL - SE', 'MUNICIPAL', 'PRIVADA', 'FEDERAL',
       'ESTADUAL - OUTROS'], dtype=object)

In [11]:
dic

  ï»¿Nome do Campo     DescriÃ§Ã£o do Campo       Tipo do Dado
0          nomedep           Rede de Ensino              Texto
1               de              Nome da DER              Texto
2            distr                 Distrito              Texto
3              mun               MunicÃ­pio              Texto
4          tipoesc           Tipo da Escola  NumÃ©rico Inteiro
5          cod_esc        CÃ³digo da Escola  NumÃ©rico Inteiro
6           nomesc  Nome da Unidade Escolar              Texto
7          DS_PAIS          PaÃ­s de Origem              Texto
8       NÂº alunos        NÃºmero de alunos  NumÃ©rico Inteiro